---
import Footer from '../components/Footer.tsx';
import CTA from '../components/CTA.tsx';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>STOQS</title>
	</head>
	<body>
		<slot />
		<CTA />
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: black;
		color: white;
	}
	body {
		overflow-x: hidden;
	}
	section {
		background-color: black;
	}
</style>
